@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700;1,300&family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: -webkit-linear-gradient(rgb(19, 19, 18), rgba(103, 130, 63, 0.662));
    color: white;
    padding: 19px 12px;
}

ul {
    display: flex;
}

ul li {
    list-style: none;
    padding: 0 13px;
}

ul li a{
    color: white;
    text-decoration: none;
}

ul >li> a:hover{
    color: rgb(167, 255, 116);
}

main{
    min-height: 100vh; 
     background: url("gradient-bg.svg")  center center fixed;
   
}

.logo img{
    width: 19px;
    
   
}

.container{ 
    max-width: 80vw;
    margin: auto;
    padding: 9px 15px;
}
h1{
    
    background: -webkit-linear-gradient(rgb(110, 110, 110), rgb(0, 255, 89));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke:0.1px rgb(0, 0, 0);
}
.container h1{
    padding: 12px 0;
}

input[type='text']{
    min-width: 23vw;
    padding: 3px 12px;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 20px;
}

.btn{
    background: black;
    color: white;
    padding: 9px 12px;
    border: 1px solid gray;
    border-radius: 6px;
    cursor: pointer;
}

#resultCont div::first-letter{
    text-transform: uppercase;
}

footer{
    font-size: 12px;
    background-color: black;
    color: white;
    display: flex;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 10px 20px;
  background-image: linear-gradient(to right, #4CAF50 0%, #d3ff4e 100%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
@media only screen and (max-width: 600px) {

    .container{
        font-size: 12px; 
    }

    input[type='text'] {
        width: 100%; 
    }

    nav{
        flex-direction: column;
    }
    .logo{
        padding: 6px 0;
        font-size: 12px;
    }
    .logo span{
        font-size: 20px;
    }
    .logo img{
        width: 17px;
    
       
    }
  }
